Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

style: fix font-families
  app/global.css
Labels: frontend

feat: create a new component for index
  app/components/frontdesk.tsx
Labels: frontend

feat: add new component to index
  app/page.tsx
Labels: frontend

style: change font
  app/global.css
  app/layout.tsx
Labels: frontend

feat: add listening spotify and link music page
  app/components/footer.tsx
Labels: frontend

style: change margin text
  app/components/frontdesk.tsx
Labels: frontend

style: change color button
  app/components/ukbtn.tsx
Labels: frontend

style: change design&color callout
  app/components/ukcallout.tsx
Labels: frontend

style: change font for dark mode fonetik
  app/global.css
Labels: frontend

feat: add UKimage component for responsive,size, and more class
  app/components/ukimage.tsx
Labels: frontend

style: add border and change color for light mode button
  app/components/ukbtn.tsx
Labels: frontend

style: add rounded for callout
  app/components/ukcallout.tsx
Labels: frontend

style: update ui skeleton & music page
  app/components/ukloadingskel.tsx
  app/m/nowplay.tsx
Labels: frontend

refactor(mdx): enhance ImageProps type with explicit Next.js Image properties
  mdx-components.tsx
Labels: none

docs: change favicon
  app/favicon.ico
Labels: none

chore: update nextjs
  package-lock.json
  package.json
Labels: dependencies

chore(lockfile): update bun.lock
  bun.lock
Labels: none

deps: switch from pnpm to bun lock file
  package-lock.json
  pnpm-lock.yaml
Labels: dependencies

deps: add bun.lock
  bun.lock
Labels: none

deps: update deps
  bun.lock
  package.json
Labels: dependencies

style: add letter space for title
  app/components/labs.tsx
  app/components/post-renderer.tsx
  app/components/posts.tsx
Labels: frontend

style: add different font for light and dark
  app/components/uknotes.tsx
Labels: frontend

style: change text color for light mode
  app/not-found.tsx
Labels: frontend

ci: change deps-bot config
  .github/dependabot.yml
Labels: none

fix(next): allow dev HMR origin
  next.config.js
Labels: configuration

redesign: implement worn-notebook aesthetic with new design system
  src/app/(admin)/layout.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/layout.tsx
  src/app/(public)/n/page.tsx
  src/app/(public)/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/components/article-progress.tsx
  src/components/post-renderer.tsx
  src/components/site-shell.tsx
Labels: none

chore: update .gitignore to exclude CLAUDE.md and docs/
  .gitignore
Labels: none

chore(git): ignore local worktrees directory
  .gitignore
Labels: none

feat(article): refresh writing detail reading experience
  mdx-components.tsx
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/ui/ukalert.tsx
  src/components/ui/ukheaderascii.tsx
  src/components/ui/uknotes.tsx
  src/components/ui/ukstrava.tsx
  src/components/ui/ukterminal.tsx
Labels: none

fix(mdx): add remark-gfm plugin and fix table/code block rendering
  mdx-components.tsx
  src/components/post-renderer.tsx
Labels: none

feat(article): implement editorial journal-article layout for writing posts
  src/app/global.css
  src/components/post-renderer.tsx
Labels: none

feat(ui): refresh public pages and journal layout
  mdx-components.tsx
  src/app/(public)/about/page.tsx
  src/app/(public)/page.tsx
  src/app/(public)/test-article/page.tsx
  src/app/(public)/w/page.tsx
  src/components/footer.tsx
  src/components/site-shell.tsx
Labels: none

feat(admin): add shared shell with fixed sidebar
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/page.tsx
Labels: none

feat(admin): make /x dashboard-first with reusable cards
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/useAdminData.ts
  src/app/(admin)/x/page.tsx
Labels: none

feat(admin): unify list pages and inline row actions
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/posts/page.tsx
Labels: none

feat(api): add post delete endpoint for inline admin actions
  src/app/api/posts/[slug]/route.ts
  src/lib/posts.ts
Labels: none

feat(admin): add markdown write/preview tabs for post and art editors
  src/app/(admin)/x/_components/MarkdownEditorTabs.tsx
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
Labels: none

refactor(admin): finalize redesigned dashboard and management flows
  package-lock.json
  tsconfig.json
Labels: configuration

Admin redesign inline (#115)
  package-lock.json
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/MarkdownEditorTabs.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/_components/useAdminData.ts
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/api/posts/[slug]/route.ts
  src/lib/posts.ts
  tsconfig.json
Labels: configuration

chore: upgrade next-mdx-remote to v6.0.0 and downgrade node engine to 20.x
  package-lock.json
  package.json
Labels: dependencies

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
