Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

feat(about): refactor AboutPage component and add DearDairy and UCanFindMe sections
  app/about/page.tsx
Labels: frontend

fix(about): remove unused UKButton import from commit 927168b
  app/about/page.tsx
Labels: frontend

feat(ukbtn): add UKButton component with customizable styles and sizes
  app/components/ukbtn.tsx
Labels: frontend

feat(music): add NowPlaying, UKTracks components and update configuration for image sources
  app/m/nowplay.tsx
  app/m/page.tsx
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
  next.config.js
  tailwind.config.ts
Labels: frontend, configuration

feat(spotify): add API routes for fetching currently playing track and top tracks
  app/api/spotify/route.ts
  app/lib/spotify.ts
Labels: frontend, api

feat(spotify-auth): implement Spotify authentication flow with token exchange
  app/api/auth/callback/spotify/route.ts
  app/api/spotify/spotify-auth/page.tsx
Labels: frontend, api

feat(spotify-player): add SpotifyPlayer component to display current track status
  app/components/SpotifyPlayer.tsx
  app/page.tsx
Labels: frontend

feat(spotify): enhance error handling and validation for Spotify API interactions
  app/components/SpotifyPlayer.tsx
  app/lib/spotify.ts
Labels: frontend

feat(spotify): add playlists API route and enhance access token handling
  app/api/spotify/playlists/route.ts
  app/api/spotify/route.ts
  app/lib/spotify.ts
  app/m/nowplay.tsx
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend, api

refactor(spotify): remove unused playlists API route and SpotifyAuth component
  app/api/spotify/playlists/route.ts
  app/api/spotify/spotify-auth/page.tsx
  app/page.tsx
Labels: frontend, api

feat(spotify-auth): use environment variable for redirect URI and add validation for required variables
  app/api/auth/callback/spotify/route.ts
Labels: frontend, api

feat(spotify) : add error message for `nowplay` , `ukplaylist` and `uktracks`
  app/m/nowplay.tsx
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

refactor(spotify) : Remove unused component
  app/components/SpotifyPlayer.tsx
Labels: frontend

feat(component): add new component `UKpathdir`
  app/components/ukpathdir.tsx
Labels: frontend

ui(ukpathdir): add margin top
  app/components/ukpathdir.tsx
Labels: frontend

ui(ukcallout): adjust round
  app/components/ukcallout.tsx
Labels: frontend

feat(spotify): apply ukpathdir
  app/m/page.tsx
Labels: frontend

ui(footer): add animation for `footer`
  app/components/footer.tsx
Labels: frontend

feat(spotify): add Loading and Error message
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

ui(css): adjust some padding
  app/global.css
Labels: frontend

refactor(animation): remove animation @ main-page
  app/g/page.tsx
  app/l/page.tsx
  app/page.tsx
  app/w/page.tsx
Labels: frontend

feat(api): add error message for `photo` and `strava` .
  app/components/photo.tsx
  app/components/strava.tsx
Labels: frontend

feat(about): apply `ukpathdir` and adjust `animation`
  app/about/page.tsx
Labels: frontend

ui(ukcallout): adjust round
  app/components/ukcallout.tsx
Labels: frontend

ui(footer): add animation for `footer`
  app/components/footer.tsx
Labels: frontend

feat(component): add new component `UKpathdir`
  app/components/ukpathdir.tsx
Labels: frontend

ui(ukpathdir): add margin top
  app/components/ukpathdir.tsx
Labels: frontend

refactor: remove unused imports
  app/page.tsx
Labels: frontend

recator(discord): adjust for mobile view
  app/components/discord.tsx
Labels: frontend

feat(loading): add LoadingSkeleton component for track and playlist loading states
  app/components/ukloadingskel.tsx
  app/m/nowplay.tsx
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

feat(spotify): add custom hook for fetching Spotify data with error handling
  app/api/spotify/hooks/useSpotify.ts
Labels: frontend, api

feat(uktracks): add ranking indicators for top three tracks
  app/m/uktracks.tsx
Labels: frontend

feat(uktracks): implement drawer for track details with album info and links
  app/m/uktracks.tsx
Labels: frontend

feat(discord): make song title clickable in Discord status display
  app/components/discord.tsx
Labels: frontend

feat(ukplaylist): add drawer for displaying playlist details and tracks
  app/api/spotify/route.ts
  app/m/ukplaylist.tsx
Labels: frontend, api

refactor(ukplaylist, uktracks): remove unnecessary decorative divs from drawer components
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

style(nowplay): enhance error and loading states with border and transition effects
  app/m/nowplay.tsx
Labels: frontend

feat(uktracks): add star icons to track ranking display with updated styles
  app/m/uktracks.tsx
Labels: frontend

fix(ukpathdir): update link to use hash for navigation and improve structure
  app/about/page.tsx
  app/components/ukpathdir.tsx
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

ui(strava): update background color on activity date display for improved visibility
  app/components/strava.tsx
Labels: frontend

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
