Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

fix(types): resolve type errors in API routes and components
  app/api/artposts/[slug]/route.ts
  app/api/noteqs/[id]/route.ts
  app/components/labs.tsx
  app/components/posts.tsx
  app/lib/artpost.ts
  app/lib/noteq.ts
  app/lib/posts.ts
  app/x/artposts/create/page.tsx
  app/x/artposts/edit/[slug]/page.tsx
  app/x/noteqs/edit/[id]/page.tsx
Labels: frontend, api

feat: add new component cli
  app/components/ukcli.tsx
Labels: frontend

style: update ui while load data
  app/components/ukstrava.tsx
Labels: frontend

feat: add CLI component
  app/page.tsx
Labels: frontend

feat: add ukCLI component
  app/components/labs.tsx
  app/components/posts.tsx
  app/w/page.tsx
Labels: frontend

style: adjust UI page
  app/page.tsx
Labels: frontend

motion install
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat: new component decrypted text
  app/components/ukdecrypted.tsx
Labels: frontend

style: add glow effect for `$`
  app/components/ukcli.tsx
Labels: frontend

style: add icon,and decrypted
  app/page.tsx
Labels: frontend

Revise README for dir-diare project
  README.md
Labels: documentation

refactor(components): separate admin and global components
  app/components/AuthButton.tsx
  app/x/components/AuthButton.tsx
Labels: frontend

feat: add breadcrumb on noteqs page
  app/x/noteqs/page.tsx
Labels: frontend

refactor: change button to admin button
  app/x/page.tsx
Labels: frontend

perf: remove duplicate motion package dependency
  app/components/ukdecrypted.tsx
  package-lock.json
  package.json
Labels: frontend, dependencies

perf: reduce Monaspace font variants from 7 to 3
  app/fonts.ts
  public/fonts/MonaspaceNeon-BoldItalic.woff2
  public/fonts/MonaspaceNeon-ExtraBold.woff2
  public/fonts/MonaspaceNeon-Italic.woff2
  public/fonts/MonaspaceNeon-SemiBoldItalic.woff2
Labels: frontend

perf: convert tode.png to WebP format
  public/images/art/tode.webp
Labels: none

perf: migrate to Next.js Image component
  app/components/post-renderer.tsx
  app/components/ukimage.tsx
  next.config.js
Labels: frontend, configuration

perf: add dynamic import for Giscus comments
  app/components/comments.tsx
Labels: frontend

feat: enable strict TypeScript checking with noImplicitAny
  app/api/artposts/[slug]/route.ts
  app/api/spotify/route.ts
  app/components/photo.tsx
  app/layout.tsx
  app/lib/mongodb.ts
  tsconfig.json
Labels: frontend, api, configuration

chore: remove debug console.log from admin dashboard
  app/x/page.tsx
Labels: frontend

chore: upgrade to Next.js 16 and React 19.2
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies, configuration

style: fix padding tags
  app/components/post-renderer.tsx
Labels: frontend

style: change UI and add summary
  app/components/posts.tsx
Labels: frontend

style: delete unused
  app/w/page.tsx
Labels: frontend

style: change UI home page
  app/page.tsx
Labels: frontend

style: add design for new UI
  app/global.css
Labels: frontend

feat: add updated data
  app/components/post-renderer.tsx
  app/lib/utils.ts
Labels: frontend

style: update UI padding&margin
  app/components/breadcrumbs.tsx
  app/components/comments.tsx
  app/components/posts.tsx
  app/global.css
Labels: frontend

feat: add thumbnail for labs
  app/components/labs.tsx
Labels: frontend

fix(auth): correct GitHub username authorization
  app/lib/auth.ts
  app/lib/constants.ts
  app/x/artposts/create/page.tsx
  app/x/artposts/edit/[slug]/page.tsx
  app/x/artposts/page.tsx
  app/x/noteqs/create/page.tsx
  app/x/noteqs/edit/[id]/page.tsx
  app/x/noteqs/page.tsx
  app/x/page.tsx
  app/x/posts/create/page.tsx
  app/x/posts/edit/[slug]/page.tsx
Labels: frontend

feat: add post list for admin panel
  app/x/page.tsx
  app/x/posts/page.tsx
Labels: frontend

style: change UI for post-date
  app/components/post-renderer.tsx
Labels: frontend

style: add css for metadataart
  app/global.css
Labels: frontend

style: change ui component
  app/components/ukcallout.tsx
Labels: frontend

refactor: component classes to use css nesting with a parent
  app/global.css
Labels: frontend

feat: enable default Tailwind colors and add dark mode support
  app/components/breadcrumbs.tsx
  app/components/footer.tsx
  app/components/labs.tsx
  app/components/photo.tsx
  app/components/post-renderer.tsx
  app/components/posts.tsx
  app/components/providers.tsx
  app/components/theme-toggle.tsx
  app/components/ukcli.tsx
  app/components/ukimage.tsx
  app/components/ukterminal.tsx
  app/global.css
  app/layout.tsx
  app/page.tsx
  app/x/artposts/edit/[slug]/page.tsx
  app/x/posts/edit/[slug]/page.tsx
  app/x/posts/page.tsx
  package-lock.json
  package.json
  tailwind.config.js
  tailwind.config.ts
Labels: frontend, dependencies, configuration

style: adjust for light mode
  app/about/page.tsx
Labels: frontend

style: adjust for light mode
  app/m/nowplay.tsx
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

fix: delete animation delay
  app/about/page.tsx
Labels: frontend

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
