Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"

refactor: simplify AttractiveImage styling and add conditional block rendering to paragraph components
  mdx-components.tsx
Labels: none

feat: implement related posts section on writing article pages
  src/app/(public)/w/[slug]/page.tsx
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/related-posts.tsx
  src/lib/posts.ts
Labels: none

feat: implement related posts section on writing article pages
  src/app/(public)/w/[slug]/page.tsx
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/related-posts.tsx
  src/lib/posts.ts
Labels: none

refactor: redesign art gallery grid and journal post cards with updated styling and typography
  src/app/(public)/l/page.tsx
  src/app/(public)/w/page.tsx
  src/app/global.css
Labels: none

style: update hero title typography, refine meta colors, and add padding to journal heading
  src/app/(public)/page.tsx
Labels: none

feat: add delay utility classes for post list rendering in public page
  src/app/(public)/l/page.tsx
Labels: none

refactor: introduce RelatedPost type and optimize related posts data fetching with projections
  src/app/(public)/l/page.tsx
  src/components/post-renderer.tsx
  src/components/related-posts.tsx
  src/lib/posts.ts
Labels: none

Refactor styling and implement related posts section for articles (#131)
  mdx-components.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/page.tsx
  src/app/(public)/w/[slug]/page.tsx
  src/app/(public)/w/page.tsx
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/related-posts.tsx
  src/lib/posts.ts
Labels: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci/cd

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci/cd

feat: implement tag management system with CRUD API, icon support, and archive pages
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/IconPicker.tsx
  src/app/(admin)/x/_components/TagPicker.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/tags/create/page.tsx
  src/app/(admin)/x/tags/edit/[id]/page.tsx
  src/app/(admin)/x/tags/page.tsx
  src/app/(public)/w/_components/CardTagLinks.tsx
  src/app/(public)/w/page.tsx
  src/app/(public)/w/tags/[tag]/page.tsx
  src/app/api/tags/[id]/route.ts
  src/app/api/tags/route.ts
  src/components/footer.tsx
  src/lib/tags.ts
Labels: none

Implement tag management system with CRUD API and icon support (#132)
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/IconPicker.tsx
  src/app/(admin)/x/_components/TagPicker.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/tags/create/page.tsx
  src/app/(admin)/x/tags/edit/[id]/page.tsx
  src/app/(admin)/x/tags/page.tsx
  src/app/(public)/w/_components/CardTagLinks.tsx
  src/app/(public)/w/page.tsx
  src/app/(public)/w/tags/[tag]/page.tsx
  src/app/api/tags/[id]/route.ts
  src/app/api/tags/route.ts
  src/components/footer.tsx
  src/lib/tags.ts
Labels: none

Enhance article pages with related posts and tag management features (#134)
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/IconPicker.tsx
  src/app/(admin)/x/_components/TagPicker.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/tags/create/page.tsx
  src/app/(admin)/x/tags/edit/[id]/page.tsx
  src/app/(admin)/x/tags/page.tsx
  src/app/(public)/w/_components/CardTagLinks.tsx
  src/app/(public)/w/page.tsx
  src/app/(public)/w/tags/[tag]/page.tsx
  src/app/api/tags/[id]/route.ts
  src/app/api/tags/route.ts
  src/components/footer.tsx
  src/lib/tags.ts
Labels: none

Add claude GitHub actions 1778811971041 (#133)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

Fix Claude GitHub Action write permissions for issue and PR comments
  .github/workflows/claude.yml
Labels: ci/cd

Restrict Claude workflow to authorized user and drop contents:write permission
  .github/workflows/claude.yml
Labels: ci/cd

refactor: modernize 404 page styling, update admin action buttons to icons, and refine markdown editor preview themes
  src/app/not-found.tsx
Labels: none

refactor: standardize admin layouts, update UI components with icons, and enhance tag rendering on public posts
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/MarkdownEditor.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
Labels: none

refactor: simplify admin form layouts and update public post tags and UI actions to use icons
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
Labels: none

feat: add tag icons to journal cards by fetching and mapping tag data
  src/app/(public)/page.tsx
Labels: none

feat: add kudos functionality to posts with database integration and UI component
  src/app/api/posts/[slug]/kudos/route.ts
  src/components/footer.tsx
  src/components/kudos-button.tsx
  src/components/post-renderer.tsx
  src/lib/posts.ts
Labels: none

feat: add kudos functionality to posts with database integration and UI component
  src/app/api/posts/[slug]/kudos/route.ts
  src/components/footer.tsx
  src/components/kudos-button.tsx
  src/components/post-renderer.tsx
  src/lib/posts.ts
Labels: none

Potential fix for pull request finding
  src/app/(admin)/x/_components/RecentContentList.tsx
Labels: none

The kudos control is effectively icon/count-only,
  src/components/kudos-button.tsx
Labels: none

Refactor and enhance UI components with tag management and related posts (#136)
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/MarkdownEditor.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(public)/page.tsx
  src/app/api/posts/[slug]/kudos/route.ts
  src/app/not-found.tsx
  src/components/footer.tsx
  src/components/kudos-button.tsx
  src/components/post-renderer.tsx
  src/lib/posts.ts
Labels: none

fix(admin): hide mobile bottom nav on desktop
  src/app/(admin)/x/_components/AdminSidebar.tsx
Labels: none

Refactor and enhance admin UI, implement tag management, and add features (#137)
  src/app/(admin)/x/_components/AdminSidebar.tsx
Labels: none

feat: delete unused component
  src/app/(public)/m/_components/nowplay.tsx
  src/app/(public)/m/_components/ukplaylist.tsx
  src/app/(public)/m/_components/uktracks.tsx
  src/app/(public)/m/page.tsx
  src/app/api/spotify/route.ts
  src/app/api/strava/route.ts
  src/components/discord.tsx
  src/components/photo.tsx
  src/components/site-shell.tsx
  src/hooks/useSpotify.ts
  src/lib/spotify.ts
Labels: none

docs: update readme
  README.md
Labels: documentation

feat: delete unused component
  src/app/(public)/m/_components/nowplay.tsx
  src/app/(public)/m/_components/ukplaylist.tsx
  src/app/(public)/m/_components/uktracks.tsx
  src/app/(public)/m/page.tsx
  src/app/api/spotify/route.ts
  src/app/api/strava/route.ts
  src/components/discord.tsx
  src/components/photo.tsx
  src/components/site-shell.tsx
  src/hooks/useSpotify.ts
  src/lib/spotify.ts
Labels: none

docs: update readme
  README.md
Labels: documentation

feat(admin): fix navbar
  src/app/(admin)/x/_components/AdminShell.tsx
Labels: none

docs: update favicon
  src/app/favicon.ico
Labels: none

feat(seo): centralize SITE_URL and rewrite sitemap from MongoDB
  src/app/(public)/l/[slug]/page.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/post-json-ld.tsx
  src/components/post-renderer.tsx
  src/lib/constants.ts
Labels: none

refactor(font): consolidate to 2-font system
  public/fonts/MonaspaceNeon-Bold.woff2
  public/fonts/MonaspaceNeon-Regular.woff2
  public/fonts/MonaspaceNeon-SemiBold.woff2
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/fonts.ts
Labels: none

refactor(font): consolidate to 2-font system
  public/fonts/MonaspaceNeon-Bold.woff2
  public/fonts/MonaspaceNeon-Regular.woff2
  public/fonts/MonaspaceNeon-SemiBold.woff2
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/fonts.ts
Labels: none

refactor(font): consolidate to 2-font system
  public/fonts/MonaspaceNeon-Bold.woff2
  public/fonts/MonaspaceNeon-Regular.woff2
  public/fonts/MonaspaceNeon-SemiBold.woff2
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/fonts.ts
Labels: none

feat(admin): fix navbar
  src/app/(admin)/x/_components/AdminShell.tsx
Labels: none

Refactor and enhance UI components with tag management and related posts (#136)
  src/app/(admin)/x/_components/AdminSidebar.tsx
Labels: none

feat(seo): centralize SITE_URL and rewrite sitemap from MongoDB
  src/app/(public)/l/[slug]/page.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/post-json-ld.tsx
  src/components/post-renderer.tsx
  src/lib/constants.ts
Labels: none
