Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"

feat(admin): redesign admin panel with warm dark theme and MarkdownEditor
  .gitignore
  src/app/(admin)/layout.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/MarkdownEditor.tsx
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/(public)/page.tsx
  src/app/(public)/test-article/page.tsx
  src/app/(public)/test/page.tsx
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/site-shell.tsx
Labels: none

chore: upgrade next-mdx-remote to v6.0.0 and downgrade node engine requirement to 20.x
  package.json
Labels: dependencies

chore: remove temporary test and development pages
  src/app/(public)/test-article/page.tsx
  src/app/(public)/test/page.tsx
Labels: none

Potential fix for pull request finding
  mdx-components.tsx
Labels: none

Enhance article and admin layouts with new features and fixes (#116)
  .gitignore
  mdx-components.tsx
  package-lock.json
  package.json
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/MarkdownEditorTabs.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/_components/useAdminData.ts
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/(public)/about/page.tsx
  src/app/(public)/page.tsx
  src/app/(public)/test/page.tsx
  src/app/(public)/w/page.tsx
  src/app/api/posts/[slug]/route.ts
  src/app/global.css
  src/components/footer.tsx
  src/components/post-renderer.tsx
  src/components/site-shell.tsx
  src/components/ui/ukalert.tsx
  src/components/ui/ukheaderascii.tsx
  src/components/ui/uknotes.tsx
  src/components/ui/ukstrava.tsx
  src/components/ui/ukterminal.tsx
  src/lib/posts.ts
  tsconfig.json
Labels: dependencies, configuration

Redesign article layouts and refresh UI across public and admin pages (#117)
  package-lock.json
  package.json
  src/app/(admin)/x/_components/MarkdownEditor.tsx
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(public)/page.tsx
  src/components/post-renderer.tsx
  src/components/site-shell.tsx
Labels: dependencies

chore: ignore .superpowers directory in .gitignore
  .gitignore
Labels: none

chore: ignore .claude directory in .gitignore
  .gitignore
Labels: none

style: add border to journal grid container in global styles
  src/app/global.css
Labels: none

feat: update home page layout with section headers, refined metadata styling, and simplified footer content
  src/app/global.css
Labels: none

refactor: replace inline footers with a reusable Footer component and update site-wide styles
  src/app/(public)/page.tsx
Labels: none

refactor: introduce reusable Footer component with default and article variants across public pages
  src/app/(public)/about/page.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/n/page.tsx
  src/app/(public)/w/page.tsx
  src/app/global.css
  src/components/footer.tsx
Labels: none

chore: ignore .claude directory in .gitignore
  .gitignore
Labels: none

refactor: replace inline footers with a reusable Footer component and update site-wide styles
  src/app/(public)/page.tsx
Labels: none

Redesign article layouts and refresh UI across public and admin pages (#117)
  package-lock.json
  package.json
  src/app/(admin)/x/_components/MarkdownEditor.tsx
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(public)/page.tsx
  src/components/post-renderer.tsx
  src/components/site-shell.tsx
Labels: dependencies

chore: ignore .superpowers directory in .gitignore
  .gitignore
Labels: none

refactor: introduce reusable Footer component with default and article variants across public pages
  src/app/(public)/about/page.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/n/page.tsx
  src/app/(public)/w/page.tsx
  src/app/global.css
  src/components/footer.tsx
Labels: none

style: add border to journal grid container in global styles
  src/app/global.css
Labels: none

feat: update home page layout with section headers, refined metadata styling, and simplified footer content
  src/app/global.css
Labels: none

Enhance article and admin layouts with new features and fixes (#116)
  .gitignore
  mdx-components.tsx
  package-lock.json
  package.json
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/MarkdownEditorTabs.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/_components/useAdminData.ts
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/(public)/about/page.tsx
  src/app/(public)/page.tsx
  src/app/(public)/test/page.tsx
  src/app/(public)/w/page.tsx
  src/app/api/posts/[slug]/route.ts
  src/app/global.css
  src/components/footer.tsx
  src/components/post-renderer.tsx
  src/components/site-shell.tsx
  src/components/ui/ukalert.tsx
  src/components/ui/ukheaderascii.tsx
  src/components/ui/uknotes.tsx
  src/components/ui/ukstrava.tsx
  src/components/ui/ukterminal.tsx
  src/lib/posts.ts
  tsconfig.json
Labels: dependencies, configuration

Replace old screenshot with new image
  README.md
Labels: documentation

Update README with new project description
  README.md
Labels: documentation

refactor: standardize admin UI with AdminShell, improve auth states, and replace MarkdownEditorTabs with MarkdownEditor
  src/app/(admin)/layout.tsx
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/MarkdownEditorTabs.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/posts/page.tsx
Labels: none

refactor: unify footer component, migrate to pixelarticons, and upgrade next-mdx-remote to v6
  bun.lock
  package.json
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(public)/l/page.tsx
  src/app/global.css
  src/components/copyurl.tsx
  src/components/footer.tsx
  src/components/post-renderer.tsx
  src/components/ui/ukbtn.tsx
Labels: dependencies

feat(admin): extract shared form style constants to formStyles.ts
  src/app/(admin)/x/_components/formStyles.ts
Labels: none

feat(admin): centralize auth guard in AdminShell, apply Tinos to h1
  src/app/(admin)/x/_components/AdminShell.tsx
Labels: none

feat(admin): apply Tinos font to content titles in shared components
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
Labels: none

refactor(admin): remove auth guard from dashboard and posts list, apply Tinos
  src/app/(admin)/x/page.tsx
  src/app/(admin)/x/posts/page.tsx
Labels: none

refactor(admin): remove auth guard from posts create/edit, use formStyles
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
Labels: none

refactor(admin): remove auth guard from artposts pages, apply Tinos, use formStyles
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/artposts/page.tsx
Labels: none

refactor(admin): remove auth guard from noteqs pages, apply Tinos, use formStyles
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
Labels: none

Refactor admin UI and authentication handling with Tinos styles (#121)
  bun.lock
  package.json
  src/app/(admin)/layout.tsx
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/MarkdownEditorTabs.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/_components/formStyles.ts
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/create/page.tsx
  src/app/(admin)/x/noteqs/edit/[id]/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/page.tsx
  src/app/(admin)/x/posts/create/page.tsx
  src/app/(admin)/x/posts/edit/[slug]/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/(public)/l/page.tsx
  src/app/global.css
  src/components/copyurl.tsx
  src/components/footer.tsx
  src/components/post-renderer.tsx
  src/components/ui/ukbtn.tsx
Labels: dependencies

feat: implement responsive mobile navigation layout for admin shell and sidebar
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
Labels: none

feat: add GridFS image upload support and integrate image uploading into Markdown editor and create page
  src/app/(admin)/x/_components/MarkdownEditor.tsx
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/api/images/[id]/route.ts
  src/app/api/images/route.ts
  src/lib/images.ts
Labels: none

feat: implement image path normalization and enable ISR revalidation for art posts
  mdx-components.tsx
  src/app/(public)/l/[slug]/page.tsx
  src/app/(public)/l/page.tsx
Labels: none

Add GridFS image upload support and enhance Markdown editor (#124)
  mdx-components.tsx
  src/app/(admin)/x/_components/MarkdownEditor.tsx
  src/app/(admin)/x/artposts/create/page.tsx
  src/app/(admin)/x/artposts/edit/[slug]/page.tsx
  src/app/(public)/l/[slug]/page.tsx
  src/app/(public)/l/page.tsx
  src/app/api/images/[id]/route.ts
  src/app/api/images/route.ts
  src/lib/images.ts
Labels: none

style: update heading typography with Fell font and add h5 component to MDX elements
  mdx-components.tsx
Labels: none

refactor: replace separate featured post layout with a unified grid for all art items
  src/app/(public)/l/page.tsx
  src/app/global.css
Labels: none

feat: restyle admin dashboard and shell components with inline styles and add react-markdown dependency
  bun.lock
  package.json
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/MarkdownEditor.tsx
Labels: dependencies

Revert "Add GridFS image upload and enhance Markdown editor integration"
  mdx-components.tsx
  src/app/(public)/l/page.tsx
  src/app/global.css
Labels: none
