Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

refactor: update Breadcrumbs component styling and remove unused icons
  app/components/breadcrumbs.tsx
Labels: frontend

refactor: remove unused SecHead components from gallery, blog, and work pages
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/components/posts.tsx
  app/components/sechead.tsx
  app/galery/page.tsx
  app/work/page.tsx
Labels: frontend

refactor: adjust animation delays and enhance date formatting in blog components
  app/blog/[slug]/page.tsx
  app/blog/utils.ts
  app/components/posts.tsx
Labels: frontend

refactor: improve layout and spacing in PostCard component
  app/components/posts.tsx
Labels: frontend

refactor: add mount check to SimpleMDX component for improved rendering
  app/components/simple-mdx.tsx
Labels: frontend

refactor: enhance Card component layout and improve sorting logic in WorkPage
  app/components/artc.tsx
  app/work/page.tsx
Labels: frontend

docs: fix typo Category
  content/art/personaldd.mdx
Labels: documentation, content

refactor: streamline tag and category styling logic in Card and Blog components
  app/components/artc.tsx
  app/work/[slug]/page.tsx
Labels: frontend

refactor: remove unused currentDate variable and update Image component dimensions
  app/blog/utils.ts
  app/components/artc.tsx
  app/components/posts.tsx
Labels: frontend

refactor: enhance BackToTop component with throttling and props for better performance and customization
  app/about/page.tsx
  app/components/back2top.tsx
  app/layout.tsx
Labels: frontend

refactor: add Monaspace font and update global styles for improved typography
  app/fonts.ts
  app/global.css
  app/layout.tsx
  public/fonts/MonaspaceNeon-Bold.woff2
  public/fonts/MonaspaceNeon-Regular.woff2
Labels: frontend

refactor: enhance styling and structure in Blog and SimpleMDX components for improved readability and consistency
  app/blog/[slug]/page.tsx
  app/components/simple-mdx.tsx
  app/components/ui/ukbadge.tsx
  app/global.css
  app/work/[slug]/page.tsx
Labels: frontend

refactor: update file extension in About page and modify Badge component styles for improved consistency
  app/about/page.tsx
  app/components/uq.tsx
Labels: frontend

refactor: add formatTag function for consistent tag formatting and update languages in personaldd.mdx for improved readability
  app/work/[slug]/page.tsx
  content/art/personaldd.mdx
Labels: documentation, frontend, content

feat: add isLatest prop to PostCard for highlighting the latest blog post
  app/components/posts.tsx
Labels: frontend

refactor: optimize Badge component styling and add category color classes for improved maintainability
  app/components/ui/ukbadge.tsx
  app/components/uq.tsx
  app/work/[slug]/page.tsx
Labels: frontend

feat: implement dark mode support and enhance component styles for improved accessibility
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/components/artc.tsx
  app/components/breadcrumbs.tsx
  app/components/footer.tsx
  app/components/nav.tsx
  app/components/photo.tsx
  app/components/post-list.tsx
  app/components/posts.tsx
  app/components/simple-mdx.tsx
  app/components/strava.tsx
  app/components/theme-provider.tsx
  app/components/uq.tsx
  app/global.css
  app/layout.tsx
  app/page.tsx
  app/work/[slug]/page.tsx
  tailwind.config.ts
Labels: frontend, configuration

docs : remove unnecessary paragraph tags for improved readability in multiple MDX files
  content/hardestpart.mdx
  content/if-only-i-had-the-courage.mdx
  content/inlovewithfh.mdx
  content/journeyofrunning.mdx
  content/stiwfl.mdx
Labels: documentation, content

fix: update HTML to JSX syntax for compatibility with React components
  content/inlovewithfh.mdx
Labels: documentation, content

refactor: restructure Uq component
  app/components/uq.tsx
Labels: frontend

refactor: remove unused utility functions and components
  app/api/notion/route.ts
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/blog/utils.ts
  app/components/artc.tsx
  app/components/pd.tsx
  app/components/saweria.tsx
  app/components/simple-mdx.tsx
  app/components/theme-provider.tsx
  app/components/ui/ukbadge.tsx
  app/components/ui/uqimg.tsx
  app/components/xxx/Model.tsx
  app/galery/page.tsx
  app/notes/page.tsx
  app/og/route.tsx
  app/rss/route.ts
  app/work/[slug]/page.tsx
  app/work/page.tsx
  app/work/utils.ts
  content/art/hoppla.mdx
  content/art/kopizine.mdx
  content/art/minsim.mdx
  content/art/personaldd.mdx
  content/art/rockntroll.mdx
  content/art/todesquad.mdx
  lib/ReadTime.ts
  lib/utils.ts
  next.config.mjs
  public/gif/croco.gif
  public/gif/heart.gif
  public/images/art/hopplatemplate.png
  public/images/art/minsim.png
  public/images/art/rockntroll.png
  public/images/content/dir-diare.png
  public/images/content/starterkit-vercel.png
  public/images/qrsaweria.png
  public/personaldesk.glb
  public/svg/calendar.svg
  public/svg/game.svg
Labels: documentation, frontend, api, content, configuration

refactor: remove WorkList component to streamline codebase
  app/components/work-list.tsx
Labels: frontend

feat: add new components and update existing ones for improved functionality and styling
  app/about/page.tsx
  app/components/UKbadgeT.tsx
  app/components/breadcrumbs.tsx
  app/components/comments.tsx
  app/components/footer.tsx
  app/components/labs-list.tsx
  app/components/labs.tsx
  app/components/nav.tsx
  app/components/photo.tsx
  app/components/post-list.tsx
  app/components/posts.tsx
  app/components/ukDesc.tsx
  app/components/ukbadge.tsx
  app/components/ukcallout.tsx
  app/components/ukterminal.tsx
  app/components/uqimg.tsx
  app/g/page.tsx
  app/global.css
  app/l/[slug]/page.tsx
  app/l/page.tsx
  app/l/utils.ts
  app/layout.tsx
  app/page.tsx
  app/robots.ts
  app/sitemap.ts
  app/w/[slug]/page.tsx
  app/w/page.tsx
  app/w/utils.ts
  art/kopizine.mdx
  art/personaldd.mdx
  art/todesquad.mdx
  mdx-components.tsx
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
Labels: documentation, frontend, dependencies, configuration

feat: enhance content styling and add mark component for better text emphasis
  app/w/[slug]/page.tsx
  content/if-only-i-had-the-courage.mdx
  content/journeyofrunning.mdx
  mdx-components.tsx
Labels: documentation, frontend, content

feat: enhance 404 page with UKTerminal component and improve styling
  app/components/ukterminal.tsx
  app/not-found.tsx
Labels: frontend

feat: update PhotoGallery component styling for improved readability and consistency
  app/components/photo.tsx
Labels: frontend

feat: update dark theme colors in mdx-components for improved consistency
  mdx-components.tsx
Labels: none

feat: enhance page styling with dark mode support for prose component
  app/w/[slug]/page.tsx
Labels: frontend

feat: update Navbar component styling for improved tooltip appearance
  app/components/nav.tsx
Labels: frontend

feat: enhance page styling with prose class for improved readability in dark mode
  app/l/[slug]/page.tsx
Labels: frontend

feat: integrate Supabase for notes management
  app/api/supabase/client.ts
  app/api/supabase/server.ts
  app/components/uknotes.tsx
  app/components/ukqotin.tsx
  app/q/page.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, api, dependencies

feat: remove UKQotin component for quotes submission
  app/components/ukqotin.tsx
Labels: frontend

docs : add .env.development.local to .gitignore
  .gitignore
Labels: none

feat: remove Notes page component and associated imports
  app/q/page.tsx
Labels: frontend

feat: implement UKnotes component for displaying notes and create Notes page
  app/components/uknotes.tsx
  app/n/page.tsx
Labels: frontend

feat(nav): add Notes icon and link to navigation
  app/components/nav.tsx
  public/svg/notes.svg
Labels: frontend

feat(badge): refactor UKbadge component to support variants and remove UKbadgeT
  app/components/UKbadgeT.tsx
  app/components/ukbadge.tsx
Labels: frontend

feat(uq): update badge configuration and add links to profile image
  app/components/uq.tsx
Labels: frontend

feat(page): replace UKbadgeT with Badge component and add category color logic
  app/l/[slug]/page.tsx
Labels: frontend

feat(page): enhance author information display with avatar and link to about page
  app/w/[slug]/page.tsx
Labels: frontend

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
