Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"

fix: adjust position of back to top button for better visibility
  app/components/back2top.tsx
Labels: frontend

fix: update PhotoGallery limit to 9 for consistent display
  app/components/photo.tsx
  app/galery/page.tsx
Labels: frontend

fix: correct indentation in label.yml and enhance pnpm verification in linting.yml
  .github/workflows/label.yml
  .github/workflows/linting.yml
Labels: ci/cd

chore: remove obsolete linting and testing workflows
  .github/workflows/linting.yml
  .github/workflows/test.yml
Labels: ci/cd

chore: add .npmrc configuration file
  .npmrc
Labels: none

Implement feature X to enhance user experience and fix bug Y in module Z
  package-lock.json
Labels: none

fix: refactor generateMetadata and Blog functions to properly await params and improve readability
  app/blog/[slug]/page.tsx
Labels: frontend

fix: refactor Blog and generateMetadata functions for improved readability and parameter handling
  app/work/[slug]/page.tsx
Labels: frontend

fix: remove unused import of getBlogPosts to clean up code
  app/work/[slug]/page.tsx
Labels: frontend

feat: enhance SimpleMDX component with advanced markdown parsing and rendering
  .npmrc
  .pnpmrc
  app/components/simple-mdx.tsx
  app/work/[slug]/page.tsx
  content/art/hoppla.mdx
  content/art/kopizine.mdx
  content/art/minsim.mdx
  content/art/personaldd.mdx
  content/art/rockntroll.mdx
  content/art/sample.mdx
  content/art/todesquad.mdx
  content/inlovewithfh.mdx
  content/journeyofrunning.mdx
  package.json
Labels: documentation, frontend, content, dependencies

fix: remove unused node version specification from .npmrc and add engines field in package.json
  .npmrc
  package.json
Labels: dependencies

fix: remove unused configuration files .npmrc and .pnpmrc to streamline project setup
  .npmrc
  .pnpmrc
Labels: none

fix: update Tailwind CSS PostCSS plugin reference in configuration
  package.json
  pnpm-lock.yaml
  postcss.config.js
Labels: dependencies, configuration

fix: update package.json and pnpm-lock.yaml with new dependencies for Notion, gray-matter, rehype-highlight, and sugar-high
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix: remove unused memoization import in SimpleMDX component and correct Tailwind CSS plugin reference in PostCSS configuration
  app/components/simple-mdx.tsx
  postcss.config.js
Labels: frontend, configuration

Refactor SimpleMDX component styles and improve content formatting in various MDX files
  app/components/mdx.tsx
  app/components/simple-mdx.tsx
  content/art/kopizine.mdx
  content/art/personaldd.mdx
  content/art/sample.mdx
  content/art/todesquad.mdx
  content/hardestpart.mdx
  content/inlovewithfh.mdx
  content/journeyofrunning.mdx
  content/new-home.mdx
  content/stiwfl.mdx
Labels: documentation, frontend, content

chore: update greetings workflow to improve event triggers and formatting
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/greetings.yml
Labels: ci/cd, documentation

fix: add overflow handling to Breadcrumbs component for better layout
  app/components/breadcrumbs.tsx
Labels: frontend

refactor: update metadata structure and improve tag handling in work components
  app/components/artc.tsx
  app/work/[slug]/page.tsx
  app/work/page.tsx
  app/work/utils.ts
Labels: frontend

refactor: update project metadata structure and enhance tag handling across multiple files
  content/art/hoppla.mdx
  content/art/kopizine.mdx
  content/art/minsim.mdx
  content/art/personaldd.mdx
  content/art/rockntroll.mdx
  content/art/todesquad.mdx
Labels: documentation, content

refactor: remove unused Worklist component and adjust Saweria styling
  app/about/page.tsx
  app/components/saweria.tsx
Labels: frontend

fix: update tag display to use category in RecentWork component
  app/components/work-list.tsx
Labels: frontend

Delete .github/workflows/stale.yml
  .github/workflows/stale.yml
Labels: ci/cd

feat: enhance About page with project and education sections
  app/about/page.tsx
Labels: frontend

refactor: remove unused AnimatedLeft import from About page
  app/about/page.tsx
Labels: frontend

feat: enhance About page with Breadcrumbs and Uq component, update work data sorting
  app/about/page.tsx
  app/components/uq.tsx
Labels: frontend

docs: update README.md
  README.md
Labels: documentation

refactor: move readTime utility to lib and remove unused cn utility
  app/blog/[slug]/page.tsx
  lib/ReadTime.ts
  utils/cn.ts
Labels: frontend

refactor: update DiscordUser interface and streamline clan information handling
  app/components/discord.tsx
Labels: frontend

refactor: enhance DiscordStatus component with badge display and improved user information handling
  app/components/discord.tsx
Labels: frontend

docs: Update README.md
  README.md
Labels: documentation

docs: add new content "If Only I Had the Courage"
  content/if_only_i_had_the_courage.mdx
Labels: documentation, content

docs: remove "If Only I Had the Courage" content
  content/if_only_i_had_the_courage.mdx
Labels: documentation, content

docs: add new content "If Only I Had the Courage"
  content/if-only-i-had-the-courage.mdx
Labels: documentation, content

refactor: update button color scheme and enhance alert component visuals with SVG icons
  app/components/simple-mdx.tsx
Labels: frontend

refactor: enhance link behavior with target attribute
  app/components/simple-mdx.tsx
  app/work/[slug]/page.tsx
Labels: frontend

refactor: restructure layout to improve semantic HTML and enhance readability
  app/layout.tsx
Labels: frontend

feat: add Vaul drawer component and enhance photo gallery with additional details
  app/components/drawer.tsx
  app/components/photo.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, dependencies

feat: add EXIF data display to photo component and enhance location information
  app/components/photo.tsx
Labels: frontend

refactor: remove unused VaulDrawer component
  app/components/drawer.tsx
Labels: frontend
