Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

refactor: update typograph componen
  app/components/ukbtn.tsx
  mdx-components.tsx
Labels: frontend

style: update margin & padding
  app/components/posts.tsx
Labels: frontend

style: update for light/dark mode
  app/x/artposts/page.tsx
  app/x/noteqs/page.tsx
  app/x/page.tsx
  app/x/posts/page.tsx
Labels: frontend

style: change mark UI
  app/global.css
Labels: frontend

style: delete mark text color
  app/global.css
Labels: frontend

ci: fix greeting
  .github/workflows/greetings.yml
Labels: ci/cd

style: update font size
  app/global.css
  mdx-components.tsx
Labels: frontend

refactor: delete unused code
  app/page.tsx
Labels: frontend

feat: add note page
  app/components/uknotes.tsx
  app/n/page.tsx
Labels: frontend

style: change position button light/dark mode
  app/components/footer.tsx
Labels: frontend

refactor: delete edu timeline
  app/about/page.tsx
Labels: frontend

style: change light mode UI
  app/components/ukcallout.tsx
Labels: frontend

style: update color UI
  app/components/ukbadge.tsx
  app/components/ukbtn.tsx
Labels: frontend

style: fix scroll on drawer
  app/components/ukdrawer.tsx
  app/m/ukplaylist.tsx
Labels: frontend

fix: delete unused component
  app/test/page.tsx
Labels: frontend

fix: delete unused component
  app/layout.tsx
Labels: frontend

feat: add alert component
  app/components/ukalert.tsx
Labels: frontend

style: update UI badge
  app/components/ukbadge.tsx
Labels: frontend

style: update syntax color
  app/global.css
Labels: frontend

style: add new blockquote style
  mdx-components.tsx
Labels: none

style: change font
  app/global.css
  app/layout.tsx
Labels: frontend

style: change UI main page
  app/page.tsx
Labels: frontend

style: change font size
  mdx-components.tsx
Labels: none

feat(footer): add about-page link
  app/components/footer.tsx
Labels: frontend

style: move the theme toggle to breadcrumb
  app/components/breadcrumbs.tsx
  app/components/footer.tsx
  app/components/theme-toggle.tsx
Labels: frontend

style: change blockquote design
  app/global.css
Labels: frontend

feat: add breadcrumb to index
  app/page.tsx
Labels: frontend

style(blockquote): change ui design
  mdx-components.tsx
Labels: none

refactor: change animation use motion
  app/components/footer.tsx
Labels: frontend

chore: remove stale component
  app/components/animated-section.tsx
  app/components/uq.tsx
  app/components/uqimg.tsx
Labels: frontend

style: change UI color
  app/components/breadcrumbs.tsx
Labels: frontend

style: add margin
  app/components/uknotes.tsx
Labels: frontend

fix: typo url and name
  app/components/post-renderer.tsx
Labels: frontend

style: change color for title
  app/components/posts.tsx
  app/global.css
Labels: frontend

feat: add new component for copyurl
  app/components/copyurl.tsx
  app/components/post-renderer.tsx
Labels: frontend

style: change the position for copyurl
  app/components/post-renderer.tsx
  app/global.css
Labels: frontend

style: change size copyurl
  app/components/copyurl.tsx
Labels: frontend

style: change color for title
  app/components/posts.tsx
Labels: frontend

style: change text color
  app/components/post-renderer.tsx
Labels: frontend

refactor: update about-page
  app/about/page.tsx
Labels: frontend

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
