Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

refactor(footer, page): adjust margins and spacing for improved layout consistency
  app/components/footer.tsx
  app/page.tsx
Labels: frontend

refactor(page): update link hover effect for improved accessibility and visual feedback
  app/w/[slug]/page.tsx
Labels: frontend

refactor(not-found): replace 404 page with enhanced error display and navigation
  app/not-found.tsx
Labels: frontend

docs(art): replace img tags with Image components for improved responsiveness
  art/personaldd.mdx
  art/todesquad.mdx
Labels: documentation

docs(content): update image source
  .gitignore
  content/monet-not-money.mdx
Labels: documentation, content

refactor(auth): update .gitignore
  .gitignore
  app/api/auth/callback/spotify/route.ts
Labels: frontend, api

refactor(image): add model prop to UKImage component for enhanced styling options
  app/api/spotify/route.ts
  app/components/ukimage.tsx
  mdx-components.tsx
Labels: frontend, api

refactor(layout): update font imports and enhance typography across components
  app/components/labs-list.tsx
  app/components/photo.tsx
  app/components/post-list.tsx
  app/components/posts.tsx
  app/components/uknotes.tsx
  app/components/ukstrava.tsx
  app/fonts.ts
  app/global.css
  app/layout.tsx
  app/m/ukplaylist.tsx
  app/page.tsx
  public/fonts/MonaspaceNeon-BoldItalic.woff2
  public/fonts/MonaspaceNeon-ExtraBold.woff2
  public/fonts/MonaspaceNeon-Italic.woff2
  public/fonts/MonaspaceNeon-SemiBold.woff2
  public/fonts/MonaspaceNeon-SemiBoldItalic.woff2
Labels: frontend

refactor(uknotes): update data source and modify note display properties
  app/components/uknotes.tsx
Labels: frontend

refactor(ukrunning): enhance item display with improved hover effects and add link support
  app/components/ukrunning.tsx
Labels: frontend

refactor(styles): update blockquote styling and enhance mark element appearance
  app/components/uktaguser.tsx
  app/global.css
  mdx-components.tsx
Labels: frontend

refactor(links): replace anchor tags with Link components for improved navigation consistency
  app/l/[slug]/page.tsx
  app/not-found.tsx
  app/page.tsx
  app/w/[slug]/page.tsx
Labels: frontend

feat(uknotes): integrate html-to-image for dynamic quote image generation and update notes fetching logic
  app/api/generate-notes-image/route.ts
  app/components/uknotes.tsx
  app/n/page.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, api, dependencies

fix(docs): correct formatting and update image tags in personaldd.mdx
  art/personaldd.mdx
Labels: documentation

refactor(styles): enhance text color and hover effects for improved readability across components
  app/components/labs-list.tsx
  app/components/labs.tsx
  app/components/post-list.tsx
Labels: frontend

feat(footer): add version link to GitHub pull request in footer component
  app/components/footer.tsx
Labels: frontend

refactor(profile): update profile image styling to include grayscale effect on hover
  app/components/uq.tsx
Labels: frontend

refactor(uknotes): enhance note item styling with border addition and improved hover effects
  app/components/uknotes.tsx
Labels: frontend

feat: update component UI and data handaling for discord
  app/components/discord.tsx
Labels: frontend

feat: update component UI and data handling for strava
  app/components/ukstrava.tsx
Labels: frontend

feat: adjust component UI for 1.4.x
  app/layout.tsx
  app/page.tsx
Labels: frontend

feat: add new class
  app/global.css
Labels: frontend

feat: update UI
  app/components/posts.tsx
  app/page.tsx
  app/w/page.tsx
Labels: frontend

style : update the UI breadcrumbs
  app/components/breadcrumbs.tsx
Labels: frontend

Style : update UI for slug/post
  app/w/[slug]/page.tsx
Labels: frontend

Revert "Update UI"
  app/components/discord.tsx
  app/components/ukstrava.tsx
  app/global.css
  app/layout.tsx
  app/page.tsx
Labels: frontend

whoop
  app/components/discord.tsx
  app/components/ukstrava.tsx
  app/global.css
  app/layout.tsx
  app/page.tsx
Labels: frontend

feat: update UI
  app/components/posts.tsx
  app/page.tsx
  app/w/page.tsx
Labels: frontend

style : update the UI breadcrumbs
  app/components/breadcrumbs.tsx
Labels: frontend

Style : update UI for slug/post
  app/w/[slug]/page.tsx
Labels: frontend

fix : wrong slug
  app/page.tsx
Labels: frontend

style: Update UI for lab page
  app/components/labs.tsx
  app/l/[slug]/page.tsx
  app/l/page.tsx
Labels: frontend

refactor: remove unused imports
  app/components/labs.tsx
  app/l/[slug]/page.tsx
  app/l/page.tsx
Labels: frontend

update discord status
  app/components/discord.tsx
Labels: frontend

add loading data
  app/components/discord.tsx
  app/components/ukstrava.tsx
Labels: frontend

update the greeting and about
  app/page.tsx
Labels: frontend

delete supabase
  app/api/supabase/client.ts
  app/api/supabase/server.ts
Labels: frontend, api

delete mdx content
  content/hardestpart.mdx
  content/hello-w.mdx
  content/if-only-i-had-the-courage.mdx
  content/inlovewithfh.mdx
  content/journeyofrunning.mdx
  content/mending-beli-rokok.mdx
  content/monet-not-money.mdx
  content/stiwfl.mdx
Labels: documentation, content

initergrate post with db
  .gitignore
  app/api/posts/route.ts
  app/components/posts.tsx
  app/lib/mongodb.ts
  app/lib/posts.ts
  app/n/page.tsx
  app/page.tsx
  app/w/[slug]/page.tsx
  app/w/page.tsx
  app/w/utils.ts
  package.json
  pnpm-lock.yaml
Labels: frontend, api, dependencies

intergrate art to db
  app/components/labs.tsx
  app/l/[slug]/page.tsx
  app/l/page.tsx
  app/lib/artpost.ts
  app/w/[slug]/page.tsx
Labels: frontend

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
