Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

docs: update favicon
  src/app/favicon.ico
Labels: none

Refactor UI components and implement tag management system (#142)
  public/fonts/MonaspaceNeon-Bold.woff2
  public/fonts/MonaspaceNeon-Regular.woff2
  public/fonts/MonaspaceNeon-SemiBold.woff2
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/(public)/l/[slug]/page.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/page.tsx
  src/app/global.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/post-json-ld.tsx
  src/components/post-renderer.tsx
  src/fonts.ts
  src/lib/constants.ts
Labels: none

fix(admin): remove redundant display:flex from sidebar
  src/app/(admin)/x/_components/AdminSidebar.tsx
Labels: none

feat(seo): fix remaining high/medium audit issues
  src/app/(public)/about/page.tsx
  src/app/(public)/l/[slug]/page.tsx
  src/app/(public)/l/page.tsx
  src/app/(public)/n/page.tsx
  src/app/(public)/page.tsx
  src/app/(public)/unauthorized/layout.tsx
  src/app/(public)/w/[slug]/page.tsx
  src/app/(public)/w/page.tsx
  src/app/(public)/w/tags/[tag]/page.tsx
  src/app/layout.tsx
  src/app/og/route.tsx
  src/components/post-json-ld.tsx
Labels: none

refactor(ui): redesign admin panel and about page
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/_components/formStyles.ts
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/(admin)/x/tags/page.tsx
  src/app/(public)/about/page.tsx
Labels: none

chore: update gitignore
  .gitignore
Labels: none

feat(journal): add floating TOC to post pages
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/post-toc.tsx
Labels: none

feat(journal): add floating TOC to post pages
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/post-toc.tsx
Labels: none

refactor(ui): redesign admin panel and about page
  src/app/(admin)/x/_components/AdminDashboardCards.tsx
  src/app/(admin)/x/_components/AdminShell.tsx
  src/app/(admin)/x/_components/AdminSidebar.tsx
  src/app/(admin)/x/_components/ContentListPanel.tsx
  src/app/(admin)/x/_components/RecentContentList.tsx
  src/app/(admin)/x/_components/RowQuickActions.tsx
  src/app/(admin)/x/_components/formStyles.ts
  src/app/(admin)/x/artposts/page.tsx
  src/app/(admin)/x/noteqs/page.tsx
  src/app/(admin)/x/posts/page.tsx
  src/app/(admin)/x/tags/page.tsx
  src/app/(public)/about/page.tsx
Labels: none

chore: update gitignore
  .gitignore
Labels: none

Redesign admin panel and about page; add floating TOC to posts (#145)
  src/app/global.css
  src/components/post-renderer.tsx
  src/components/post-toc.tsx
Labels: none

perf: optimize LCP, images, and JS bundle size
  mdx-components.tsx
  next.config.js
  src/components/post-renderer.tsx
  src/components/ui/ukimage.tsx
  tsconfig.json
Labels: configuration

chore: regenerate lock file after batch dep merge
  package-lock.json
Labels: none

fix: resolve TypeScript build errors for TS6 and MongoDB7
  src/lib/images.ts
  src/types/css.d.ts
  tsconfig.json
Labels: configuration

docs: add branch workflow rules to CLAUDE.md
  .gitignore
  CLAUDE.md
Labels: documentation

docs: update readme
  README.md
Labels: documentation

ci: simplify workflows, upgrade to node 24
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  package.json
Labels: ci/cd, dependencies

feat: add /g gallery page with Unsplash integration
  CLAUDE.md
  src/app/(public)/g/page.tsx
  src/app/global.css
  src/components/site-shell.tsx
Labels: documentation

feat(gallery): lazy load with infinite scroll pagination
  src/app/(public)/g/gallery-client.tsx
  src/app/(public)/g/page.tsx
  src/app/api/photos/route.ts
  src/app/global.css
  src/types/unsplash.ts
Labels: none

feat: add /g gallery page with Unsplash infinite scroll (#149)
  CLAUDE.md
  src/app/(public)/g/gallery-client.tsx
  src/app/(public)/g/page.tsx
  src/app/api/photos/route.ts
  src/app/global.css
  src/components/site-shell.tsx
  src/types/unsplash.ts
Labels: documentation

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
