Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

feat(content): add new article "Monet, Not Money"
  content/monet-not-money.mdx
Labels: documentation, content

fix(content): update publication date and enhance formatting in "Monet, Not Money" article
  content/monet-not-money.mdx
Labels: documentation, content

fix(discord): improve layout and styling for Spotify activity display
  app/components/discord.tsx
Labels: frontend

feat(discord): add title attribute to badge images and update styling for guild tag display
  app/components/discord.tsx
Labels: frontend

feat(ukcallout): enhance callout component with icons and improved layout
  app/components/ukcallout.tsx
Labels: frontend

fix(discord): improve Spotify activity display layout by removing unnecessary links and enhancing structure
  app/components/discord.tsx
Labels: frontend

fix(discord): enhance username display styling on Discord component
  app/components/discord.tsx
Labels: frontend

fix(ui): switch font from Montserrat to JetBrains Mono and clean up global CSS
  app/global.css
  app/layout.tsx
Labels: frontend

fix(ui): remove unnecessary prose class from page components for cleaner layout
  app/l/[slug]/page.tsx
  app/w/[slug]/page.tsx
Labels: frontend

feat(ukcallout): update UKCallout component with new icons and improved styling
  app/components/ukcallout.tsx
  mdx-components.tsx
Labels: frontend

fix(docs): update GitHub link format in personaldd.mdx for clarity
  art/personaldd.mdx
Labels: documentation

ui(footer): enhance link styling in footer component for better visibility
  app/components/footer.tsx
Labels: frontend

fix(ui): update text colors and remove unnecessary classes for improved readability
  app/about/page.tsx
Labels: frontend

feat(ui): add author info display for page `labs` and update category hover styles for consistency
  app/l/[slug]/page.tsx
  app/w/[slug]/page.tsx
Labels: frontend

refactor(strava): remove Strava component and associated logic for cleanup
  app/components/strava.tsx
Labels: frontend

feat(strava): add UKStrava component for displaying Strava activities
  app/components/ukstrava.tsx
  app/page.tsx
  tsconfig.json
Labels: frontend, configuration

feat(running): add UKRunning component for displaying running activities and create new page for running details
  app/components/ukrunning.tsx
  app/components/uq.tsx
  app/r/page.tsx
Labels: frontend

refactor(labs-page): remove Comments component and update title styling to uppercase
  app/l/[slug]/page.tsx
Labels: frontend

ui(labs-page): update title styling to uppercase for improved readability
  app/components/labs.tsx
Labels: frontend

ui(ukrunning): enhance date, place, distance, time, and pace styling with hover effects for better user interaction
  app/components/ukrunning.tsx
Labels: frontend

ui(uktracks): add close button to Drawer component for improved user navigation
  app/m/uktracks.tsx
Labels: frontend

feat(uknotes): add timeZone option to date formatting for correct display in Singapore
  app/components/uknotes.tsx
Labels: frontend

refactor(ukrunning): component to accept race data as props and improve rendering logic
  app/components/ukrunning.tsx
  app/r/page.tsx
Labels: frontend

ui(ukrunning): format date display to use localized string with custom separators for improved readability
  app/components/ukrunning.tsx
Labels: frontend

feat(uktaguser): add UKTagUser component for user tagging with customizable link and styling
  app/components/uktaguser.tsx
  mdx-components.tsx
Labels: frontend

docs(content): add new article on podcast discussion
  content/mending-beli-rokok.mdx
Labels: documentation, content

chore(gitignore): add dummy.mdx to .gitignore to prevent tracking of dummy content
  .gitignore
Labels: none

feat(discord): update avatar handling to use local image and adjust size for better display
  app/components/discord.tsx
Labels: frontend

refactor(page): remove DiscordStatus component and clean up layout
  app/page.tsx
Labels: frontend

feat(ukimage): add UKImage component for responsive image handling with customizable size and class
  app/components/ukimage.tsx
  mdx-components.tsx
Labels: frontend

fix(content): adjust formatting and improve image handling
  content/journeyofrunning.mdx
  content/monet-not-money.mdx
Labels: documentation, content

chore(dependabot): update npm dependency schedule and limits
  .github/dependabot.yml
Labels: none

fix(content): update image source
  content/monet-not-money.mdx
Labels: documentation, content

refactor(nav): replace image icons with Lucide icons and simplify layout
  app/components/nav.tsx
Labels: frontend

refactor(breadcrumbs): enhance breadcrumb styling with animated separator
  app/components/breadcrumbs.tsx
Labels: frontend

feat(ukpage): add UK page links with dot icons for navigation
  app/page.tsx
Labels: frontend

refactor(ukstrava): replace image icons with Lucide icons and improve styling
  app/components/ukstrava.tsx
Labels: frontend

refactor(svg): remove unused SVG icons to streamline assets
  public/svg/home.svg
  public/svg/length.svg
  public/svg/notes.svg
  public/svg/photo.svg
  public/svg/quill_ink.svg
  public/svg/running.svg
  public/svg/stopwatch.svg
  public/svg/testtube.svg
  public/svg/user.svg
Labels: none

refactor(ukstrava): improve loading state styling and enhance activity display layout
  app/components/ukstrava.tsx
Labels: frontend

refactor(photo): enhance loading state UI and replace SVG icons with Lucide components
  app/components/photo.tsx
Labels: frontend

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
