Repository qyzh/dir-diare, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, frontend, api, content, dependencies, configuration

update UI page
  app/w/page.tsx
Labels: frontend

integrate noteq with db
  app/lib/noteq.ts
  app/n/page.tsx
Labels: frontend

delete race running
  app/components/ukrunning.tsx
  app/r/page.tsx
Labels: frontend

delete art mdx file
  art/kopizine.mdx
  art/personaldd.mdx
  art/todesquad.mdx
Labels: documentation

delete generate image for note
  app/api/generate-notes-image/route.ts
Labels: frontend, api

fix: Resolve multiple TypeScript and build errors
  app/components/back2top.tsx
  app/components/labs-list.tsx
  app/components/labs.tsx
  app/components/post-list.tsx
  app/components/posts.tsx
  app/l/[slug]/page.tsx
  app/l/utils.ts
  app/lib/artpost.ts
  app/lib/mongodb.ts
  app/lib/noteq.ts
  app/lib/posts.ts
  app/page.tsx
  app/w/[slug]/page.tsx
  mdx-components.tsx
Labels: frontend

feat: Configure project for ES Modules and resolve module type warning
  package.json
  postcss.config.cjs
Labels: dependencies, configuration

delete unused imports
  app/components/posts.tsx
  app/l/utils.ts
  app/lib/noteq.ts
  app/lib/posts.ts
  app/w/[slug]/page.tsx
Labels: frontend

delete unused imports
  app/components/nav.tsx
  app/lib/artpost.ts
  app/w/[slug]/page.tsx
Labels: frontend

delete unused imports
  app/l/utils.ts
Labels: frontend

delete unused imports
  app/m/page.tsx
Labels: frontend

style: change bg-color
  app/layout.tsx
Labels: frontend

style: change ui colors music-page
  app/m/nowplay.tsx
  app/m/page.tsx
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

delete unused imports
  app/g/page.tsx
Labels: frontend

style: update UI components
  app/components/post-list.tsx
  app/components/ukDesc.tsx
  app/not-found.tsx
Labels: frontend

delete unused components on about page
  app/about/page.tsx
Labels: frontend

feat: add drawer component
  app/components/ukdrawer.tsx
Labels: frontend

refactor: use drawer component on music page
  app/m/ukplaylist.tsx
  app/m/uktracks.tsx
Labels: frontend

refactor: delete unused imports
  app/about/page.tsx
Labels: frontend

refactor: Consolidate post rendering and utilities
  app/components/post-renderer.tsx
  app/l/[slug]/page.tsx
  app/l/utils.ts
  app/lib/utils.ts
  app/w/[slug]/page.tsx
Labels: frontend

add ascii
  app/components/ukheaderascii.tsx
  app/global.css
  app/page.tsx
Labels: frontend

note init
  app/page.tsx
Labels: frontend

ui: adjust size
  app/components/post-renderer.tsx
  app/components/ukterminal.tsx
  app/global.css
  app/layout.tsx
  app/page.tsx
Labels: frontend

delete unused component on strava
  app/components/ukstrava.tsx
Labels: frontend

update the footer
  app/api/latest-commit/route.ts
  app/components/footer.tsx
Labels: frontend, api

fix: delete version and error on footer
  app/api/latest-commit/route.ts
  app/components/footer.tsx
Labels: frontend, api

fix: animation adjust
  app/components/animated-section.tsx
  app/components/breadcrumbs.tsx
  app/components/nav.tsx
  app/components/post-renderer.tsx
  app/components/uq.tsx
  app/g/page.tsx
  app/n/page.tsx
Labels: frontend

feat: update when listening on spotify
  app/components/discord.tsx
Labels: frontend

fix: typo
  app/page.tsx
Labels: frontend

feat: add publish and draft post
  app/api/posts/[slug]/route.ts
  app/api/posts/route.ts
  app/components/posts.tsx
  app/lib/posts.ts
Labels: frontend, api

feat: add publish and draft post
  app/api/posts/[slug]/route.ts
  app/api/posts/route.ts
  app/components/posts.tsx
  app/lib/posts.ts
Labels: frontend, api

ini x panel
  app/x/page.tsx
  app/x/posts/create/page.tsx
  app/x/posts/edit/[slug]/page.tsx
Labels: frontend

init x panel
  app/api/auth/[...nextauth]/route.ts
  app/api/posts/[slug]/route.ts
  app/api/posts/route.ts
  app/components/AuthButton.tsx
  app/components/providers.tsx
  app/layout.tsx
  app/unauthorized/page.tsx
  app/x/page.tsx
  app/x/posts/create/page.tsx
  app/x/posts/edit/[slug]/page.tsx
  package.json
  pnpm-lock.yaml
Labels: frontend, api, dependencies

fix: Resolve type errors in admin pages
  app/api/auth/[...nextauth]/route.ts
  app/api/posts/[slug]/route.ts
  app/api/posts/route.ts
  app/components/ukbtn.tsx
  app/lib/auth.ts
  app/x/posts/create/page.tsx
Labels: frontend, api

Fix: Correct submission state handling in post edit page
  app/x/posts/create/page.tsx
  app/x/posts/edit/[slug]/page.tsx
Labels: frontend

style: update ui
  app/global.css
  app/page.tsx
Labels: frontend

style: update ui for w/ and l/
  app/components/labs.tsx
  app/components/posts.tsx
Labels: frontend

fix: typo
  app/components/labs.tsx
  app/components/posts.tsx
Labels: frontend

init artposts and noteq panel
  app/api/artposts/[slug]/route.ts
  app/api/artposts/route.ts
  app/api/noteqs/[id]/route.ts
  app/api/noteqs/route.ts
  app/api/posts/[slug]/route.ts
  app/api/posts/route.ts
  app/lib/artpost.ts
  app/lib/noteq.ts
  app/unauthorized/page.tsx
  app/x/artposts/create/page.tsx
  app/x/artposts/edit/[slug]/page.tsx
  app/x/artposts/page.tsx
  app/x/noteqs/create/page.tsx
  app/x/noteqs/edit/[id]/page.tsx
  app/x/noteqs/page.tsx
  app/x/page.tsx
Labels: frontend, api

style: update discord and strava UI
  app/api/artposts/[slug]/route.ts
  app/api/artposts/route.ts
  app/components/discord.tsx
  app/components/ukstrava.tsx
  app/lib/artpost.ts
  app/page.tsx
  app/x/artposts/create/page.tsx
  app/x/artposts/edit/[slug]/page.tsx
  app/x/artposts/page.tsx
  app/x/noteqs/create/page.tsx
  app/x/noteqs/edit/[id]/page.tsx
  app/x/page.tsx
  app/x/posts/create/page.tsx
  app/x/posts/edit/[slug]/page.tsx
Labels: frontend, api

.github/labeler.yml:

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"

"frontend":
  - changed-files:
    - any-glob-to-any-file:
      - "app/**/*.tsx"
      - "app/**/*.ts"
      - "app/**/*.css"
      - "components/**/*.tsx"
      - "components/**/*.ts"

"api":
  - changed-files:
    - any-glob-to-any-file:
      - "app/api/**/*.ts"

"content":
  - changed-files:
    - any-glob-to-any-file:
      - "content/**/*.mdx"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "package.json"
      - "pnpm-lock.yaml"

"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - "*.config.*"
      - "tsconfig.json"
      - "next.config.mjs"
